<main id="main">
    <!--Program Section-->
    <section id="program" class="program">
        <div class="container">
            <div class="section-title">
                <h3><font face="Candara"><strong><span>Cargar Archivo</span></strong></font></h3>
            </div>
            <div class="row content">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <textarea name="entrada" rows="15" cols="100" class="form-control" placeholder="Inserte su codigo aqui..."></textarea>
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <textarea name="salida" rows="15" cols="100" class="form-control" placeholder="Resultado del codigo..."></textarea>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success" style="margin-left: 20px;">Reset</button>
            <button type="button" class="btn btn-danger" style="margin-left: 20px;">Enviar</button>
        </div>
    </section>