<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="index (2).html">TypeWise</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
                <li><a class="nav-link scrollto" href="#program">Entrada</a></li>
                <li><a class="nav-link scrollto" href="#program">Consola</a></li>
                <li><a class="nav-link scrollto" href="#tree">Arbol</a></li>
                <li class="dropdown"><a href="#"><span>Reportes</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#features">Tabla de Simbolos</a></li>
                        <li><a href="#features">Errores</a></li>
                        <li><a href="#m_tecnico">Manual Tecnico</a></li>
                        <li><a href="#m_usuario">Manual de Usuario</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

<!--Hero Section-->
<section id="hero">
    <div class="hero-container">
        <h3><font face="Candara"><strong>Erick Abdul Chacon Barillas 201807169</strong></font></h3>
        <h1 style="text-align: center;"><font face="Candara">Bienvenido a TypeWise</font></h1>
        <h2 style="text-align: center;"><font face="Candara">Organizacion de Lenguajes y Compiladores 1</font></h2>
        <a href="#program" class="btn-get-started scrollto">Para usar el programa clic en este boton :D</a>
    </div>
</section>